.zhyprbola-dock {
    background-color: #fafcfd;
    border: 0;
    box-shadow: none;
    border-radius: 18px;
    padding: 9px;
}

.zhyprbola-dock-button {
    width: 42px;
    height: 42px;
    border-radius: 13px;
    background-color: #875a82;
    border: 0;
    color: #ffffff;
}

.zhyprbola-dock-button:hover,
.zhyprbola-dock-button:active {
    background-color: #996c94;
}

.zhyprbola-dock-icon {
    color: #ffffff;
    icon-size: 20px;
}

.zhyprbola-theme-menu .popup-menu-content {
    background-color: #fafcfd;
    border: 0;
    box-shadow: none;
    color: #3f2b41;
}

.zhyprbola-theme-menu .popup-menu-item {
    color: #3f2b41;
}

.zhyprbola-theme-menu .popup-menu-item:focus,
.zhyprbola-theme-menu .popup-menu-item:hover {
    background-color: #e9dde9;
}

.zhyprbola-dock-white {
    background-color: #fafcfd;
}

.zhyprbola-dock-white .zhyprbola-dock-button {
    background-color: #467b9d;
    color: #ffffff;
}

.zhyprbola-dock-white .zhyprbola-dock-button:hover,
.zhyprbola-dock-white .zhyprbola-dock-button:active {
    background-color: #3c6d8c;
}

.zhyprbola-dock-white .zhyprbola-dock-icon {
    color: #ffffff;
}

.zhyprbola-theme-menu-white .popup-menu-content {
    background-color: #fafcfd;
    color: #263b4c;
}

.zhyprbola-theme-menu-white .popup-menu-item {
    color: #263b4c;
}

.zhyprbola-theme-menu-white .popup-menu-item:focus,
.zhyprbola-theme-menu-white .popup-menu-item:hover {
    background-color: #eaf1f5;
}

.zhyprbola-dock-white-sky {
    background-color: #fcfdff;
}

.zhyprbola-dock-white-sky .zhyprbola-dock-button {
    background-color: #1e73e7;
    color: #ffffff;
}

.zhyprbola-dock-white-sky .zhyprbola-dock-button:hover,
.zhyprbola-dock-white-sky .zhyprbola-dock-button:active {
    background-color: #1766cb;
}

.zhyprbola-dock-white-sky .zhyprbola-dock-icon {
    color: #ffffff;
}

.zhyprbola-theme-menu-white-sky .popup-menu-content {
    background-color: #fcfdff;
    color: #174269;
}

.zhyprbola-theme-menu-white-sky .popup-menu-item {
    color: #174269;
}

.zhyprbola-theme-menu-white-sky .popup-menu-item:focus,
.zhyprbola-theme-menu-white-sky .popup-menu-item:hover {
    background-color: #dceeff;
}

.zhyprbola-dock-forest {
    background-color: #fafcfd;
}

.zhyprbola-dock-forest .zhyprbola-dock-button {
    background-color: #477f6d;
    color: #ffffff;
}

.zhyprbola-dock-forest .zhyprbola-dock-button:hover,
.zhyprbola-dock-forest .zhyprbola-dock-button:active {
    background-color: #3f7866;
}

.zhyprbola-dock-forest .zhyprbola-dock-icon {
    color: #ffffff;
}

.zhyprbola-theme-menu-forest .popup-menu-content {
    background-color: #fafcfd;
    color: #194c3c;
}

.zhyprbola-theme-menu-forest .popup-menu-item {
    color: #194c3c;
}

.zhyprbola-theme-menu-forest .popup-menu-item:focus,
.zhyprbola-theme-menu-forest .popup-menu-item:hover {
    background-color: #d9eae1;
}

.zhyprbola-dock-one-half-gray {
    background-color: #fafcfd;
}

.zhyprbola-dock-one-half-gray .zhyprbola-dock-button {
    background-color: #68717d;
    color: #ffffff;
}

.zhyprbola-dock-one-half-gray .zhyprbola-dock-button:hover,
.zhyprbola-dock-one-half-gray .zhyprbola-dock-button:active {
    background-color: #59636f;
}

.zhyprbola-dock-one-half-gray .zhyprbola-dock-icon {
    color: #ffffff;
}

.zhyprbola-theme-menu-one-half-gray .popup-menu-content {
    background-color: #fafcfd;
    color: #2d3640;
}

.zhyprbola-theme-menu-one-half-gray .popup-menu-item {
    color: #2d3640;
}

.zhyprbola-theme-menu-one-half-gray .popup-menu-item:focus,
.zhyprbola-theme-menu-one-half-gray .popup-menu-item:hover {
    background-color: #e0e5e8;
}

.zhyprbola-dock-red {
    background-color: #fafcfd;
}

.zhyprbola-dock-red .zhyprbola-dock-button {
    background-color: #b83252;
    color: #ffffff;
}

.zhyprbola-dock-red .zhyprbola-dock-button:hover,
.zhyprbola-dock-red .zhyprbola-dock-button:active {
    background-color: #a92a49;
}

.zhyprbola-dock-red .zhyprbola-dock-icon {
    color: #ffffff;
}

.zhyprbola-theme-menu-red .popup-menu-content {
    background-color: #fafcfd;
    color: #542437;
}

.zhyprbola-theme-menu-red .popup-menu-item {
    color: #542437;
}

.zhyprbola-theme-menu-red .popup-menu-item:focus,
.zhyprbola-theme-menu-red .popup-menu-item:hover {
    background-color: #f5dce4;
}
