.zhyprbola-dock {
    background-color: #fafcfd;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 4px;
}

.zhyprbola-dock-bottom,
.zhyprbola-dock-top {
    padding: 0 4px;
}

.zhyprbola-dock-left,
.zhyprbola-dock-right {
    padding: 4px 0;
}

.zhyprbola-dock-group {
    spacing: 4px;
}

.zhyprbola-dock-app-button,
.zhyprbola-dock-button {
    width: 27px;
    height: 27px;
    border-radius: 8px;
    background-color: transparent;
    border: 0;
}

.zhyprbola-dock-app-button:hover,
.zhyprbola-dock-button:hover,
.zhyprbola-dock-button:active {
    background-color: rgba(0, 0, 0, 0.07);
}

.zhyprbola-dock-app-indicator {
    background-color: #875a82;
    border-radius: 4px;
}

.zhyprbola-dock-white .zhyprbola-dock-app-indicator {
    background-color: #467b9d;
}

.zhyprbola-dock-white-sky .zhyprbola-dock-app-indicator {
    background-color: #1e73e7;
}

.zhyprbola-dock-forest .zhyprbola-dock-app-indicator {
    background-color: #477f6d;
}

.zhyprbola-dock-one-half-gray .zhyprbola-dock-app-indicator {
    background-color: #68717d;
}

.zhyprbola-dock-red .zhyprbola-dock-app-indicator {
    background-color: #b83252;
}

.zhyprbola-dock-button {
    color: #875a82;
}

.zhyprbola-dock-icon {
    color: #875a82;
    icon-size: 16px;
}

.zhyprbola-dock-white {
    background-color: #fafcfd;
}

.zhyprbola-dock-white .zhyprbola-dock-button {
    color: #467b9d;
}

.zhyprbola-dock-white .zhyprbola-dock-icon {
    color: #467b9d;
}

.zhyprbola-dock-white-sky {
    background-color: #fcfdff;
}

.zhyprbola-dock-white-sky .zhyprbola-dock-button {
    color: #1e73e7;
}

.zhyprbola-dock-white-sky .zhyprbola-dock-icon {
    color: #1e73e7;
}

.zhyprbola-dock-forest {
    background-color: #fafcfd;
}

.zhyprbola-dock-forest .zhyprbola-dock-button {
    color: #477f6d;
}

.zhyprbola-dock-forest .zhyprbola-dock-icon {
    color: #477f6d;
}

.zhyprbola-dock-one-half-gray {
    background-color: #fafcfd;
}

.zhyprbola-dock-one-half-gray .zhyprbola-dock-button {
    color: #68717d;
}

.zhyprbola-dock-one-half-gray .zhyprbola-dock-icon {
    color: #68717d;
}

.zhyprbola-dock-red {
    background-color: #fafcfd;
}

.zhyprbola-dock-red .zhyprbola-dock-button {
    color: #b83252;
}

.zhyprbola-dock-red .zhyprbola-dock-icon {
    color: #b83252;
}
