.zhyprbola-dock {
    background-color: #fafcfd;
    border: 0;
    box-shadow: none;
    border-radius: 18px;
    padding: 9px;
}

.zhyprbola-dock-button {
    width: 42px;
    height: 42px;
    border-radius: 13px;
    background-color: #875a82;
    border: 0;
    color: #ffffff;
}

.zhyprbola-dock-button:hover,
.zhyprbola-dock-button:active {
    background-color: #996c94;
}

.zhyprbola-dock-icon {
    color: #ffffff;
    icon-size: 20px;
}

.zhyprbola-dock-white {
    background-color: #fafcfd;
}

.zhyprbola-dock-white .zhyprbola-dock-button {
    background-color: #467b9d;
    color: #ffffff;
}

.zhyprbola-dock-white .zhyprbola-dock-button:hover,
.zhyprbola-dock-white .zhyprbola-dock-button:active {
    background-color: #3c6d8c;
}

.zhyprbola-dock-white .zhyprbola-dock-icon {
    color: #ffffff;
}

.zhyprbola-dock-white-sky {
    background-color: #fcfdff;
}

.zhyprbola-dock-white-sky .zhyprbola-dock-button {
    background-color: #1e73e7;
    color: #ffffff;
}

.zhyprbola-dock-white-sky .zhyprbola-dock-button:hover,
.zhyprbola-dock-white-sky .zhyprbola-dock-button:active {
    background-color: #1766cb;
}

.zhyprbola-dock-white-sky .zhyprbola-dock-icon {
    color: #ffffff;
}

.zhyprbola-dock-forest {
    background-color: #fafcfd;
}

.zhyprbola-dock-forest .zhyprbola-dock-button {
    background-color: #477f6d;
    color: #ffffff;
}

.zhyprbola-dock-forest .zhyprbola-dock-button:hover,
.zhyprbola-dock-forest .zhyprbola-dock-button:active {
    background-color: #3f7866;
}

.zhyprbola-dock-forest .zhyprbola-dock-icon {
    color: #ffffff;
}

.zhyprbola-dock-one-half-gray {
    background-color: #fafcfd;
}

.zhyprbola-dock-one-half-gray .zhyprbola-dock-button {
    background-color: #68717d;
    color: #ffffff;
}

.zhyprbola-dock-one-half-gray .zhyprbola-dock-button:hover,
.zhyprbola-dock-one-half-gray .zhyprbola-dock-button:active {
    background-color: #59636f;
}

.zhyprbola-dock-one-half-gray .zhyprbola-dock-icon {
    color: #ffffff;
}

.zhyprbola-dock-red {
    background-color: #fafcfd;
}

.zhyprbola-dock-red .zhyprbola-dock-button {
    background-color: #b83252;
    color: #ffffff;
}

.zhyprbola-dock-red .zhyprbola-dock-button:hover,
.zhyprbola-dock-red .zhyprbola-dock-button:active {
    background-color: #a92a49;
}

.zhyprbola-dock-red .zhyprbola-dock-icon {
    color: #ffffff;
}
